# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build publishable build
      run: dotnet publish Area52Entertainment.csproj --no-restore -o build/
    - uses: actions/upload-artifact@v4
      with:
        name: build
        path: build/
        if-no-files-found: error
        

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v7
      with:
        name: build
    - name: List folder content
      run: ls
    - name: Download Netbird
      env:
        USE_BIN_INSTALL: true
      run: curl -fsSL https://pkgs.netbird.io/install.sh | sh
    - name: Connect to Netbird
      env:
        SETUP_KEY: ${{ secrets.NETBIRD_SETUP_KEY }}
      run: netbird up --setup-key=${SETUP_KEY}
    - name: Wait for DNS resolution
      shell: bash
      run: |
        DNS_IP=""
        COUNTER=0
        while [ -z $DNS_IP ] && [ $COUNTER -lt 60 ]; do
          DNS_IP=$(nslookup jbl-testsrv.netbird.cloud | awk '/^Address: / { print $2 }')
          [ -z "$DNS_IP" ] && sleep 1
          ((COUNTER++))
        done
        [ -z "$DNS_IP" ] && echo "timeout" || echo $DNS_IP
    - uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.SFTP_PRIVATE_KEY }}
    - name: Copy files to server
      run: |
        sftp ${{ secrets.SFTP_USERNAME }}@${{ vars.SFTP_HOSTNAME }} <<EOF
        pwd
        exit
        EOF
